/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
  font-family: Arial, Helvetica, sans-serif;
}

#navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #540b51;
  height: 70px;
}

#slack-logo {
  height: 20px;
  width: auto;
}

#navigation-list {
  color: white;
  text-decoration: none;
  display: none;
}

.nav-button {
  background-color: #540b51;
  color: white;
  border: none;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #540b51;
}

h1 {
  color: white;
}

p {
  color: white;
  font-size: 14px;
}

#bold-text {
  color: #ecb12f;
}

.button {
  width: 90%;
  height: 40px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
}

#email-button {
  color: #540b51;
  margin-bottom: 8px;
}

#google-button {
  position: relative;
  background-color: #4285f4;
  color: white;
}

#google-logo {
  background-color: white;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  max-height: 20px;
  padding: 10px;
}

#image-container {
  display: flex;
  justify-content: flex-start;
  height: 250px;
}

#logo-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #f3eae2;
  height: 200px;
}

#logo-header {
  color: #191817;
  text-transform: uppercase;
}

.logo {
  height: 30px;
  width: auto;
}

/*Irene from here*/
.percentages-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 40px 0px 40px;
  text-align: center;
}

.percentages-list p {
  color: #191817;
}

.percentages-list li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#percentage {
    padding: 0px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 40px;
  text-align: center;
}

.welcome button {
  margin: 10px 0px;
}

.footer{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#footer-list li {
  margin: 20px 0px;
}

.footer li {
  list-style-type: none;
}

#social-logos {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}


