/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
  font-family: Arial, Helvetica, sans-serif;
}

#navigation-bar {
  display: block;
  position: relative;
  background-color: #540b51;
  /* flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  I previously tried to use flexbox here but I feel like display is easier to lay out the elements*/
}

#slack-logo {
  height: 20px;
  margin: 20px;
  width: auto;
}

#navigation-list {
  color: white;
  text-decoration: none;
  display: none;
  list-style-type: none;
}

#menu-icon {
  position: absolute;
  background-color: #540b51;
  color: white;
  border: none;
  top: 20px;
  right: 10px;
}

#search-icon {
    position: absolute;
    background-color: #540b51;
    color: white;
    border: none;
    top: 20px;
    right: 50px;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #540b51;
  padding: 0px 40px
}

h1 {
  color: white;
}

#sub-header {
    color: white;
    font-size: 14px;
}

#bold-text {
  color: #ecb12f;
}

.button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
}

#email-button {
  color: #540b51;
  margin-bottom: 8px;
}

#google-button {
  position: relative;
  background-color: #4285f4;
  color: white;
  margin-bottom: 30px;
}

#google-logo {
  position: absolute;
  background-color: white;
  border-radius: 2px;
  max-height: 20px;
  padding: 7px;
  top: 50%;
  bottom: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
}

#image-container {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  height: 250px;
  width: 100%;
}

#screenshot {
    width: 150%;
    height: 150%;
    object-fit: cover;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: #F3EAE2;
    /* height: 250px; */
    padding: 40px 10px;
}

#logo-header {
  color: #191817;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 15px;
  font-weight: bolder;
}

.logo {
  height: 30px;
  width: auto;
  padding: 10px;
}

/*Irene from here*/

.percentages-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 40px;
  text-align: center;
  color: #540B51;
  
}

.percentages-list h3{
  font-size: 32px;
}

.percentages-list p {
  color: #191817;
}

.percentages-list li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.percentages-list span{
 color: #540B51;
font-weight: bold;
font-size: 40px;
}

#percentage {
    padding: 0px;
}

#percentage p{
  font-weight: bold;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
  text-align: center;
  background-color: #540B51;
  color: white;
}

.welcome h3{
  font-size: 32px;
  display: flex;
  flex-wrap: wrap;
}

.welcome button{
  width: 40%;
  height:  40px;
  text-transform: uppercase;
}

#try-for-free{
  color: #540b51;
  margin-bottom: 8px;
  border-radius: 4%;
  border: none;
}

#talk-to-sales{
  background-color: #540b51;
  color: white;
  margin-bottom: 30px;
  border-color: white;
  border-radius: 4%;
  border-width: 1px;
}

.footer{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
}

#download-slack{
  padding-bottom: 0px;
}


.footer li {
  list-style-type: none;
  margin: 20px 0px 0px 0px;
}


#footer-list{
  padding-left: 0px;
  font-size: 12px;
  font-weight: bold;
}

#social-logos {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 0px;
  
}

#footer-small {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

#change-region,
#download-slack{
  position: absolute;
  margin-left: 25px;
}

#img-change-region,
#img-download-slack{
  position: relative;
}

#download-slack{
  color: #2E71A6;
  padding-top: 3px;
}

#change-region{
  padding-top: 3px;
}


/* Eleanor from here */

@media (min-width: 768px) and (max-width: 1024px) {

  header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #image-container {
    justify-content: flex-end;
  }

  #screenshot {
    width: 150%;
    height: 150%;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .percentages-list ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #footer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}
